<head>
 <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="{{ "/assets/img/icon.ico" | relative_url }}">
  {%- seo -%}
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <script src="{{ "/assets/javascript/bootstrap/jquery.min.js" | relative_url }}"></script>
  <script src="{{ "/assets/javascript/bootstrap/bootstrap.bundle.min.js" | relative_url }}"></script>
  <script src="https://unpkg.com/widgetjs@2.0.0/dist/widgetjs.bundle.js"></script>
  <script src="https://unpkg.com/lodash@4.17.5/lodash.js"></script>
  <script src="{{ "/assets/javascript/app.js" | relative_url }}"></script>
</head>
